# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.cache/
*.cover
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm project files
.idea/
*.iml

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Other files
*.bak
*.tmp
*.swp
*.swo
*.swn